body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-container .card {
  position: relative;
  width: 150px;
  height: 200px;
  border-radius: 10px;
  overflow: hidden;
  margin: 10px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
.card-container .card:hover{
  transform: scale(1.1);
}
.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.card-container .card p{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 0;
  font-weight: bold;
  text-align: center;
}
.scoreboard {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #f0f0f0;
  font-size: 20px;
}
